/*********************************************Defaults*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}


footer {
    position: absolute;
    bottom: 0;
}

/*********************************************Game*/
#game-container {
    width: 800px;
    max-width: 92vw;
    height: 650px;
    background-color: red;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: nowrap;
    flex: 0 2 1;
}

#game {
    width: 500px;
    height: 90%;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.square {
    width: 31px;
    height: 31px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}