/*********************************************Defaults*/
:root {
    --cg-blue: #247ba0ff;
    --cadet-blue: #4a9eaaff;
    --green-sheen: #70c1b3ff;
    --middle-blue-green: #91ceb9ff;
    --turquoise-green: #b2dbbfff;
    --tea-green: #d3edbeff;
    --cream: #f3ffbdff;
    --peach-crayola: #f6c5a3ff;
    --light-coral: #f98b89ff;
    --radical-red: #ff1654ff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

main {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('../images/background.jpg') no-repeat center;
    background-position: center;
    background-size: cover;
    background-color: var(--cg-blue);
    background-blend-mode: soft-light;
}

.float-left { float: left;}
.float-right { float: right;}
.vis-hidden { visibility: hidden;}
.dis-hidden { display: none;}

/*******************************************Footer*/

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 800px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
}

.copyright {
    color: white;
    font-size: 1rem;
}
i {
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

i:hover {
    color: var(--light-coral);
}

/*********************************************Game*/
#game-container,
#start-menu {
    width: 800px;
    max-width: 92vw;
    height: 626px;
    border: 15px outset var(--green-sheen);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: nowrap;
    flex: 0 2 1;
}

#game {
    width: 525px;
    height: 625px;
    display: flex;
    flex-wrap: nowrap;
}

.container-col {
    width: 33px;
    height: 635px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.square {
    width: 31px;
    height: 31px;
    border: 1px solid var(--cream);
    border-radius: 9%;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 100px;
    cursor: pointer;
}